<h1>Bikes</h1>

<table class="table table-condensed table-hover table-clickable">
  <thead>
    <tr>
      <th>Number</th>
    </tr>
  </thead>

  <tbody>
    <% @bikes.each do |bike| %>
      <tr>
        <td><%= link_to bike.number, bike %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bike', new_bike_path %>
